*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  display: flex;
  justify-content:center;
  padding:1rem;
  position:fixed;
  width: 100vw;
  z-index: 1;
  background-color:var(--background-color);
}

.header-movie{
  color:var(--primary-text-color);
}

:root{
  --background-color:#0f172a;
  --primary-text-color:#e2e8f0;
  --card-background-color:#64748b;
}

body {
  background-color:var(--background-color);
  owerflow-x: hidden;
}

.main {
  display:flex;
  gap:1.5rem;
  flex-wrap: wrap;
  padding:8rem 2rem 2rem 9.5rem;
}